doctype html
html
    head
        title Knowledge base
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        //- link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        //- link(rel='stylesheet', href='/css/style.css')

    body
        nav.navbar.navbar-dark.bg-dark.navbar-expand-md
            a.navbar-brand(href='/') Students DataBase
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample01', aria-controls='navbarsExample01', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExample01.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.mr-2
                        a(href='/') Students 
                        span.sr-only (current)
                    li.mr-2
                        a(href='/add') Add Students
.container.mt-5
    h1 #{title}
    form(method='POST', action=('/add'))
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        #form-group
            label Faculty:
            input.form-control(name='faculty', type='text')
        #form-group
            label Dept:
            input.form-control(name='department', type="text")
        #form-group
            label Level:
            input.form-control(name='level', type="text")
        br
        input.btn.btn-primary(type='submit', value='submit')